body{
    background: #232627;
    color: #BCBCBC;
    font-size: 16px;
    overflow-y: scroll;
}

.logo{
    display: inline-block;
    height: 1.5em;
    position: relative;
    top: -2px;
    left: -8px;
}

#main{
    margin-top: 15px;
}

.row>div {
    padding: 0px !important;
}

@media only screen and (min-width: 575px) {
    body{
        padding-left: 15px;
        padding-right: 15px;
    }
    #main .container-fluid>.row>div:first-child {
        margin-bottom: 15px !important;
    }
}

@media only screen and (min-width: 767px) {
    #main>.container-fluid>.row{
        min-height: 800px;
    }
    #main .container-fluid>.row>div:first-child {
        padding-right: 5px !important;
        margin-bottom: 0px !important;
    }

    #main .container-fluid>.row>div:last-child {
        padding-left: 5px !important;
    }
}

.pnl{
    padding: 15px;
    height:100%;
    border: 1px solid #BCBCBC;
    border-top: none;
}

.main-menu{
    position: relative;
    border:none;
    background: #4E4E4E;
    height: 2em;
    line-height: 2em;
}

.main-menu a{
    text-decoration: none;
    color: #BCBCBC;
    font-weight: bold;
}

.main-menu a span:first-of-type{
    color : #C58F19 !important;
}

.main-menu a:hover{
    text-decoration: underline;
}

.dir{
    color: #A0A07D;
    font-weight: bold;
}

ul[title]::before {
    content: attr(title);
    display: block;
    font-weight: bold;
    margin-left: -20px;
    color: #A0A07D;
}

#menu > ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

#menu > ul > li {
    list-style-type: none; /* Убираем маркеры */
    cursor: pointer;
    color: #A0A07D;
    font-weight: bold;
    user-select: none;
    padding-left: 5px;
}

#menu > ul > li.active {
    background: #1D99F3;
    color: #ECF7FE;
    font-weight: normal;
}

.avatar{
    width: 200px;
    height: 200px;
    margin-left:15px;
    border: 1px solid #BCBCBC;
    padding: 5px;
    float: right;
}
.content-header{
    position: relative;
    top: calc(-1em + 3px);
    padding-left: 30px;
    padding-right: 60px;
}

.content-header hr{
    display: inline-block;
    position: absolute;
    border: 1px solid #BCBCBC;
    width: calc(100% - 90px);
    left: 40px;
    right: 0;
    top: calc(1em - 3px);
    bottom: 0;
    opacity: 1;
    border-bottom: none;
    margin: 0;
}

.content-header span{
    position: absolute;
    background: #232627;
    padding: 0px 7px 0px 0px;
    white-space: nowrap;
}

.content-header:before{
    display: inline-block;
    content: "-<─";
    position: absolute;
    left: 0;
}

.content-header:after{
    display: inline-block;
    content: "○[^]>-";
    position: absolute;
    right: 0;
}

.language-selector:after{
    display: inline-block;
    content: '';
    clear: both;
}

.language-selector{
    position: absolute;
    right: 0;
}

.language-selector span{
    display: inline-block;
    width: 32px;
    height: 24px;
    top: calc((2em - 24px) * 0.5);
    position: relative;
    transform: scale(0.8);
    border: 2px solid transparent;
}

.language-selector span[data-lang="en-US"]{
    background: url("/images/flags32.png") 0px 32px no-repeat;
    background-position-y: calc(-7328px - 5px);
}

.language-selector span[data-lang="ru-RU"]{
    background: url("/images/flags32.png") 0px 32px no-repeat;
    background-position-y: calc(-6208px - 5px);
}

#main[data-lang="ru-RU"] .language-selector span[data-lang="ru-RU"],
#main[data-lang="en-US"] .language-selector span[data-lang="en-US"]
{
    border: 2px solid lime;
}

#main[data-lang="en-US"] #menu *[data-lang="ru-RU"],
#main[data-lang="ru-RU"] #menu *[data-lang="en-US"],
#main[data-lang="en-US"] #content *[data-lang="ru-RU"],
#main[data-lang="ru-RU"] #content *[data-lang="en-US"],
#main[data-lang="en-US"] #nav *[data-lang="ru-RU"],
#main[data-lang="ru-RU"] #nav *[data-lang="en-US"]{
    display: none;
}

.employers .col{
    text-align: center;
    padding: 15px !important;
}

.employers .col a{
    margin-top: 15px;
    text-align: center;
}

.employers .col svg,
.employers .col img{
    margin: auto;
    width: 100px;
    height: 100px;
    background: transparent;
}